@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Germania+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Teko:wght@300..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    background-color: black;
}

.section1 {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .container1,
    .container2 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container1 {
        display: flex;
        justify-content: center;
        text-align: center;

        .title {
            color: white;
            border-radius: 2rem;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
            font-size: 5rem;
            padding: 2rem 4rem;
            font-family: "Bebas Neue", sans-serif;
            margin: 2rem;
        }
    }

    .container2 {
        display: flex;
        flex-direction: column;

        .btn {
            transition: all .3s ease-out;
            margin: 1rem;
            color: white;
            background-color: rgba(43, 43, 43, 0.278);
            border: 1px solid rgb(59, 59, 59);
            padding: 1rem;
            width: 25rem;
            border-radius: 1rem;
            text-align: center;
            font-size: 1.5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgba(41, 81, 227, 0.877);

            a {
                color: white;
            }
        }

        .btn:hover {
            border: 1px solid white;
            background-color: rgba(4, 52, 224, 0.877);
            transform: .5s;
        }
    }
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading{
        margin-top: 3rem;
        width: 85%;
        color: white; 
        text-align: center;
        font-size: 3.5rem;
        font-weight: 800;
        border: 1px  solid rgba(38, 31, 31, 0.668) ;
        padding: 1.5rem;
        border-radius: 1.5rem;
        // background-color: rgba(3, 78, 255, 0.967);
        border: 1px solid white;
    }
    .container{
        background-color: rgb(25, 25, 25);
        margin: 2rem;
        display: flex;
        flex-direction: row;
        border-radius: 1.5rem;
        padding: 2.5rem;
        .box1{
            width: 100%;
            border: 2px solid rgba(255, 255, 255, 0.221);
            border-radius: 2rem;
            transition: all .3s ease-in-out;
            img{
                height: 100%;
                width: 100%;
                border-radius: 2rem;
            }
        }
        .box1:hover{
            border: 2px solid rgba(0, 34, 255, 0.678);
        }
        .box2{
            width: 100%;
            // border: 2px solid white;
            text-align: center;
            .intro{
                margin: 2rem;
                color: white;
                text-align: center;
            }
            .button{
                button{
                    transition: all .3s ease-out;
                    margin: 1rem;
                    color: white;
                    background-color: rgba(43, 43, 43, 0.278);
                    border: 1px solid rgb(59, 59, 59);
                    padding: 1rem;
                    width: 16rem;
                    border-radius: 1rem;
                    text-align: center;
                    font-size: 1.2rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    background-color: rgba(41, 81, 227, 0.877);
        
                    a {
                        color: white;
                    }
                }
                button:hover{
                    border: 1px solid white;
                    background-color: rgb(4, 52, 224);
                    transform: .5s;
                }
            }
        }
    }
}
.header {
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    color: white;

    .logo {
        color: white;
        font-size: 2rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .navbar {
        a {
            font-size: 1.2rem;
            color:white;
            margin-left: 2rem;
            transition: all .3s ease-out;
        }

        a:hover {
            transition: all .3s ease-out;
            color: rgb(165, 162, 162);
        }

    }

}

#menu-btn {
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #303030;
    color: white;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .section {
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-btn {
        display: initial;
    }

    .header {
        .navbar {
            position: absolute;
            top: 115%;
            right: 2rem;
            border-radius: .5rem;
            box-shadow: var(--box-shadow);
            width: 30rem;
            border: var(--border);
            background: #282727;
            transform: scale(0);
            opacity: 0;
            transform-origin: top right;
            transition: none;
            color: white;
        }

        .logo {
            font-size: 3rem;
        }
    }
    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .4s ease-out;
    }

    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

    .section1 {
        flex-direction: column;

        .container1,
        .container2 {
            width: 100%;
            display: flex;
        }

        .container1 {
            justify-content: center;
            height: 100vw;

            .title {
                color: white;
                border-radius: 2rem;
                border-top: 2px solid white;
                border-bottom: 2px solid white;
                font-size: 15vw;
                padding: 2rem 4rem;
                font-family: "Bebas Neue", sans-serif;
                margin: 2rem;
            }
        }

        .container2 {
            flex-direction: column;

            .btn {
                margin: 1rem;
                width: 80vw;
                border-radius: 1rem;
                text-align: center;
                font-size: 2rem;
            }
        }
    }
    .section2{
        flex-direction: column;
        .container{
            flex-direction: column;
        }
    }
}